img {
    height: 250px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;

}

.jumbotron {
background-color: rgb(18, 231, 247);
height: 200px;
}

.jumbotron h1 {
    font-size: 100px;
    text-align: center; 
    vertical-align: middle;
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
}

body {

    font-family: 'Raleway', sans-serif;
    align-content: center
}

figure.image { 
   position: relative; 
   width: 100%; 
   display: inline-block;
   vertical-align: middle;
   align-content: center
}

figcaption { 
   position: absolute; 
   top: 200px; 
   width: 100%; 
   display: inline-block;
   vertical-align: center;
   text-align: center;
   font-size: 24px;
   
}

.glyphicon {
    display: inline-block; 
    

}
